<!--包含头部文件-->
{include file="public/header" /}
<body >
<div class="page-container" id="app">
    <form class="form form-horizontal form-o2o-add" id="form-o2o-add" method="post" action="{:url('Maintenance/save')}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>服务项目：</label>
            <div class="formControls col-xs-8 col-sm-9">

                <input type="text" class="input-text" value="" placeholder="" id="name" name="name">
            </div>
        </div>
        <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>保养项目：</label>
        <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select name="category_id" class="select">
					<option value="0">一级分类</option>
					{volist name='res' id='vo'}
					<option value="{$vo.id}">{$vo.name}</option>
					{/volist}
				</select>
				</span>
        </div>
    </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属车型：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select  name="car_id" class="select" v-model="bindex" @change="handecurrent" >
					<option  v-for="(items,index) in carbrand" :value="index">{{items.brand}}</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产地：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select name="car_id" class="select" v-model="mid" @change="chooseMedicine">
                    <option value="0">一级分类</option>
					<option  :value="items.id" v-for="(items,index) in manufactor" >{{items.manufactor}} </option>
				</select>
				</span>
            </div>

        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>型号：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select  name="car_id" class="select" v-model="c_id" @change="handelmodel">
					<option value="0">一级分类</option>
					<option :value="models.id" v-for="models in carmodels">{{models.model}}</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>年份：</label>
            <div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select name="car_id" class="select" >
					<option value="0">一级分类</option>
					<option :value="models.id" v-for="models in carinfo">{{models.year}}-{{models.name}}</option>
				</select>
				</span>
            </div>

        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button type="submit" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}

<script src="__INDEX__/vant/vue.min.js"></script>
<script src="__INDEX__/vant/axios.min.js"></script>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            c_id:undefined,
            mid:undefined,
            couponSelected:undefined,
            bindex:1,
            show: false,
            activeNames: ['1'],
            manufactorin: 0,
            current: 0,
            carbrand: [],//品牌
            manufactor: [],
            carmodels: [],
            carinfo: [],
        },
        created() {

            this.GetBrandByList();

        },
        methods: {
            GetBrandByList() {
                axios.get('/index/maintenance/choosedata').then(res => {

                    this.carbrand = res.data;
                    this.Manufactor = this.carbrand[this.current].course

                })
            },
            handemanu(index, mid) {
                if (this.manufactorin == index) {
                    this.manufactorin = -1;
                } else {
                    this.manufactorin = index
                    axios.get('/index/maintenance/carmodels', {
                        params: {
                            id: mid
                        }
                    }).then(res => {
                        this.carmodels = res.data
                        // this.carbrand = res.data;
                        // this.Manufactor = this.carbrand[this.current].course
                    })
                }
            },
            chooseMedicine(v){

                axios.get('/index/maintenance/carmodels', {
                    params: {
                        id: this.mid
                    }
                }).then(res => {
                    console.log(res)
                    this.carmodels = res.data
                })

            },
            handecurrent() {
                console.log(this.bindex);
                this.manufactorin = null
                this.current = this.bindex
                this.manufactor = this.carbrand[this.bindex].course
            },
            handelmodel() {
                axios.get('/index/maintenance/carinfo', {params: {id: this.c_id}}).then(res => {
                    this.carinfo = res.data
                    this.show = true
                    console.log(res)
                })
            },
            handeinfo(id){
                setCookie('carinfo',id)
                this.show=false
                // console.log(getCookie('carinfo'))
            }
        }
    })
</script>
