<div class="us-nav">
    <a href="/" class="us-nav-item" style="text-align:center;">
        <figure class="mt_3">
            <i class="iconfont icon-shouye font-s22"></i>
        </figure>
        <span>首页</span>
    </a>
    <a href="{:url('index/servicer/index')}" class="us-nav-item ">
        <figure class="mt_3">
            <i class="iconfont icon-dianpu font-s22"></i>
        </figure>
        <span>门店导航</span>
    </a>


    <!--<a href="/main.htm#/model/evaluation_list.htm" class="us-nav-item ">-->
        <!--<figure class="mt_3">-->
            <!--<i class="iconfont icon-pingjia font-s22"></i>-->
        <!--</figure>-->
        <!--<span>服务评价</span>-->
        <!--&lt;!&ndash;http://static.chezizhu.com/m/gywm.html?v=1.2.25.51&ndash;&gt;-->
    <!--</a>-->
    <a href="{:url('index/user/index')}" class="us-nav-item ">
        <figure class="mt_3">
            <i class="iconfont icon-30 font-s22"></i>
        </figure>
        <span>个人中心</span>
    </a>

</div>