<!--包含头部文件-->
{include file="public/header" /}
<body>
<style>
    img {
        width: 70px;
        height: 70px;
    }

    #myModal img {
        width: 100%;
        height: 80%;
    }

</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 审核二手机估价列表</nav>
<div class="page-container">
    <!--<form id="form-o2o-add" method="post" action="{:url('deal/index')}">-->
    <!--<div class="cl pd-5 bg-1 bk-gray mt-20">-->
    <!--<div class="text-c">-->

    <!--&lt;!&ndash;<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="50">ID</th>
                <th>预约用户</th>
                <th>联系电话</th>
                <th>汽车名称</th>
                <th>行驶里程</th>
                <th>变速箱</th>
                <th>车身颜色</th>
                <th>评估机构</th>
                <th>外观照</th>
                <th>内饰照</th>
                <th>提交时间</th>
                <th>状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='res' id='vo' }
            <tr class="text-c">
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.phone}</td>
                <td>{$vo.car_name}</td>
                <td>{$vo.mileage}</td>
                <td>{$vo.transmission}</td>
                <td>{$vo.color}</td>
                <td>{$vo.institutions}</td>
                <td>
                    <a data-toggle="modal" data-target="#myModal" onclick="showimg('{$vo.appearance}')">
                        <img src="{$vo.appearance}">
                    </a></td>
                <td>
                    <a data-toggle="modal" data-target="#myModal" onclick="showimg('{$vo.interior}')">
                        <img src="{$vo.interior}">
                    </a>
                </td>
                <td>{$vo.create_time|date="Y-m-d H:s"}</td>
                <td>{$vo.status|Tstatus|raw}</td>
                <td class="td-manage"><a style="text-decoration:none" class="ml-5"
                                         onclick="o2o_del('/admin/deal/ustatus?id={$vo.id}&status=1','审核通过?')"
                                         href="javascript:;" title="审核">审核</a></td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {$res|raw}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" style="width: 64%;left: 38%;top: 25%;height: 60%" role="dialog"
     aria-labelledby="myModalLabel">
    <a onclick="showhi">
        <img src="" id="img_pre">
    </a>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<script src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script>
<script>

    function modaldemo() {
        $("#modal-demo").modal("show")
    }

    function showimg(dd) {
        $("#img_pre").attr("src", dd);

        console.log();
    }

</script>
